<html
   xmlns="http://www.w3.org/1999/xhtml" 
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>Votaciones</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" th:href="@{css/main.css}" />
	</head>
	<body class="subpage">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">
					<div class="container">
						<div class="row">
							<div class="col-12">

								<!-- Logo -->
									<h1><a href="index.html" id="logo">Beastars</a></h1>

								<!-- Nav -->
								 <nav id="nav">
										<!--<a href="index.html">Homepage</a> -->
										<a th:href="@{index}">Inicio</a>
										
									</nav>

							</div>
						</div>
					</div>
				</section>

			<!-- Content -->
				<section id="content">
					<div class="container">
						<div class="row">
							<div class="col-3 col-12-medium">

								<!-- Left Sidebar -->
									<section>
										<header>
											<h2>Serie de cómic</h2>
										</header>
										<p>
											Beastars es una serie de manga escrita e ilustrada por Paru Itagaki. Fue serializada en la revista Shūkan Shōnen Champion de la editorial Akita Shoten desde el 8 de septiembre de 2016 hasta el 7 de octubre de 2020.
										</p>
										<ul class="link-list">
											<li><a href="#">Netflix</a></li>
											<li><a href="#">PelisPlus</a></li>
											<li><a href="#">Plex</a></li>
											<li><a href="#">Amazon Prime</a></li>
										</ul>
									</section>
									<section>
										<header>
											<h2>Temporadas</h2>
										</header>
										<p>
											El anime consta de 36 episodios divididos en dos temporadas, la primera temporada estrenó su primer episodio el 8 de septiembre del año 2016.
										</p>
										<ul class="link-list">
											<li><a href="#">1. Temporada de 12 Capitulos</a></li>
											<li><a href="#">2. Temporada de 24 Capitulos</a></li>
											
										</ul>
									</section>
							</div>
							<div class="col-6 col-12-medium imp-medium">

								<!-- Main Content -->
									<section>
										<header>
											<h2>Beastars</h2>
											<h3>Lo Mejor del Mundo Del Anime</h3>
										</header>
										<p>
											En un mundo donde los carnívoros y herbívoros conviven. Si bien comer carne se considera un delito grave, se produce un "caso de depredación" en el que un estudiante es asesinado en la prestigiosa Academia Cherryton, que es un internado. En la Academia gira la ansiedad y Legoshi el lobo gris, que al contrario de lo que sugiere su "gran cuerpo" y sus "colmillos afilados" vive en silencio y sin llamar la atención. Sin embargo, el encuentro con una pequeña estudiante coneja llamada Hal, sacude el corazón de Legoshi. 
										</p>
										<p>
											Uno de los temas principales que podemos identificar en Beastars es la diferencia entre clases sociales. Carnívoros y herbívoros, fuertes y débiles, aquellos que tienen el poder y aquellos que se conforman con sobrevivir un día más. Resulta clara la comparación con nuestra propia sociedad y la crítica derivada de lo absurdo de un mundo dividido por prejuicios. Donde un lobo es categorizado como asesino por su apariencia y una coneja es juzgada de promiscua por ejercer su libertad sexual.
											Beastars nos presenta una sociedad donde el instinto reina sobre la razón, y la maldad sobre la bondad. Donde los personajes luchan contra un rol social impuesto que va en contra de sus propios valores y son castigadxs por ello
										</p>
										<p>
											Una crítica clara a la arrogancia de los seres humanos, tal como se titula esta reseña de Beastars. Nos creemos civilizadxs, pero en realidad actuamos como animales la mayor parte del tiempo. 
											La historia se desarrolla en un mundo de animales antropomórficos con una división cultural entre carnívoros y herbívoros. Tem la alpaca es brutalmente asesinada y devorada en la noche, creando una ola de inquietud y desconfianza entre estudiantes herbívoros y carnívoros.

										</p>
									</section>

							</div>
							<div class="col-3 col-12-medium">

								<!-- Right Sidebar -->
									<section>
										<header>
											<h2>Personajes Principlaes</h2>
										</header>
										<ul class="link-list">
											<li><a href="#">Legoshi.</a></li>
											<li><a href="#">Hal.</a></li>
											<li><a href="#">Riz.</a></li>
											<li><a href="#">Leano.</a></li>
											<li><a href="#">Jack.</a></li>
											<li><a href="#">Haru.</a></li>
											
										</ul>
									</section>
									
							</div>
						</div>
					</div>
				</section>

			<!-- Footer -->
				<section id="footer">
					<div class="container">
						<div class="row">
							<div class="col-8 col-12-medium">

								<!-- Links -->
								<!-- 	<section>
										<h2>Links to Important Stuff</h2>
										<div>
											<div class="row">
												<div class="col-3 col-12-small">
													<ul class="link-list last-child">
														<li><a href="#">Neque amet dapibus</a></li>
														<li><a href="#">Sed mattis quis rutrum</a></li>
														<li><a href="#">Accumsan suspendisse</a></li>
														<li><a href="#">Eu varius vitae magna</a></li>
													</ul>
												</div>
												<div class="col-3 col-12-small">
													<ul class="link-list last-child">
														<li><a href="#">Neque amet dapibus</a></li>
														<li><a href="#">Sed mattis quis rutrum</a></li>
														<li><a href="#">Accumsan suspendisse</a></li>
														<li><a href="#">Eu varius vitae magna</a></li>
													</ul>
												</div>
												<div class="col-3 col-12-small">
													<ul class="link-list last-child">
														<li><a href="#">Neque amet dapibus</a></li>
														<li><a href="#">Sed mattis quis rutrum</a></li>
														<li><a href="#">Accumsan suspendisse</a></li>
														<li><a href="#">Eu varius vitae magna</a></li>
													</ul>
												</div>
												<div class="col-3 col-12-small">
													<ul class="link-list last-child">
														<li><a href="#">Neque amet dapibus</a></li>
														<li><a href="#">Sed mattis quis rutrum</a></li>
														<li><a href="#">Accumsan suspendisse</a></li>
														<li><a href="#">Eu varius vitae magna</a></li>
													</ul>
												</div>
											</div>
										</div>
									</section> 
									-->


							</div>
							<div class="col-4 col-12-medium imp-medium">

								<!-- Blurb -->
								<!--	<<section>
										<h2>An Informative Text Blurb</h2>
										<p>
											Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed. Suspendisse eu
											varius nibh. Suspendisse vitae magna eget odio amet mollis. Duis neque nisi,
											dapibus sed mattis quis, sed rutrum accumsan sed. Suspendisse eu varius nibh
											lorem ipsum amet dolor sit amet lorem ipsum consequat gravida justo mollis.
										</p>
									</section>

							</div>
						</div>
					</div>
				</section>
				-->


			<!-- Copyright -->
			<!--	<div id="copyright">
					&copy;  <a href="#">HTML5 UP</a>
				</div>

		</div>
		-->

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>