<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>DMC \m/ </title>
	<link rel="stylesheet" type="text/css" th:href="@{css/dark.css}">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link
		href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
		rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body background="Imagenes/portadadmc-.png">


	<div class="Intro">


		<h2 id="watchme" class="logo">Detroit<span>Metal</span>City</h2>
		<ul id="output">
		</ul>



		<a th:href="@{https://es.wikipedia.org/wiki/Detroit_Metal_City}" class="btn">Votar Es Ganar</a>


		<div class="content"> <br> <br> <br><br><br><br><br><br><br>
			<hr>
			<h3>ᗪ乇ㄒ尺ㄖ丨ㄒ</h3>
			<h1>|ɒƚɘM <span>ʏƚiƆ</span></h1>
			<h3>DarkROck ｃ๏Μⓘ𝐜 ΛПIMΣ</h3>
			<div class="newslatter">


			</div>
		</div>


		<section class="about">
			<div class="main">
				<img src="css/Imagenes/dmcgif.gif">
				<div class="about-text">
					<h2>𝖕𝖔𝖗 𝖖𝖚𝖊 𝕯𝕸𝕮???</h2>
					<h5>►&nbsp ♪ Cuando la Comunicación Falla <br> <span> puede suceder lo Inimaginable ‼&nbsp♪&nbsp◄
						</span></h5>
					<p>En cada capítulo de 10 minutos se interpretarán
						de 1 a 2 historias rápidas, vulgares y satíricas,
						debido a que esto<br> le ayuda a ganar mucha mas fama y
						así ser la banda de metal más conocida de Japón. </p>
					<p>Todos los Personajes se expresan y actuan de manera diferente a lo q sienten
						y bajo la suposición de como creen ser vistos por el ojo ajeno desencadenando Confusión y
						Tragedia</p>
				</div>
			</div>
		</section>

		<div class="Indice">
			<img src="css/Imagenes/portadadmc-.png" alt="description" width="1800" height="380" />
			<div class="title">
				<h2>Que Me Espera? </h2>
			</div>

			<div class="box">
				<div class="card">

					<h5>Música Oscura</h5>
					<div class="pra">
						<img src="css/Imagenes/detritguitar.jpg" alt="description" width="240" height="160" />

						<p>Influencia Death Metal con un carís Cómico Sado/Masoquista <br>
							Incitando todo lo contrario a lo que en realidad sienten o desean los Personajes</p>


					</div>
				</div>

				<div class="card">

					<h5>Contenido/Lenguaje</h5>
					<div class="pra">
						<img src="css/Imagenes/grito.png" alt="description" width="240" height="160" />
						<p>Contenido ligeramente Insinuante y/o Violento <br>
							Drama y Comedia Temática <br> Escenas y Animes ligeramente Eróticos</p>


					</div>
				</div>

				<div class="card">

					<i class="fa-solid fa-guitar-electric"></i>
					<h5>El ´´Yo´´ Oculto</h5>
					<div class="pra">
						<img src="css/Imagenes/gentloca.jpeg" alt="description" width="240" height="	130" />
						<p>Todos los Personajes bajo la suposición de como creen ser vistos por el ojo ajeno Actúan
							viven entre Confusión y Tragedia </p>


					</div>
				</div>
			</div>
		</div>





		<div class="bckg">
			<img src="admin/Imagenes/finals.jpg" alt="description" width="1800" height="480" />
		</div>

		<div class="VoteAca">

			<p>Elije ya y descubre como la fantasia puede parecerse mucho a la Realidad</p>
			<a class="button-two" href="#">VOTAR DMC</a>

		</div>


		<footer>
			<p>Detroit Metal City</p>
			<p class="end"> <br>
				<hr> <span> M̷̻͕̹̹̻͈̔͒̑̂͘i̵̛͔̽̿̔̌͆̂̄͐̎k̶͕͆ê̶̱̬̾͠ͅͅͅ
					̷̫̮̘̮̺̆̀̍́̽́J̶̛͔͗̒ö̷̧̼͚̻̺̬́͗h̴̘̆n̶͓̝̣̟̆̊s̴̨̠̲̱̯̎͐̅͒͗̉͗̐͜͝o̵̹͔̫̩̭̾̑̀̆n̸̢̡̟͇̜̙͕̈́̍̊͗̚ </span>
			</p>
		</footer>
</body>

</html>