<html
    xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
    <head>
        <title>One Piece</title>
        <meta charset=" UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' th:href="@{css/onePiece.css}">
</head>

<body style="background-image: url(css/imagenes/one-piece-map.jpg);">


	<div id="top">

		<div id="imagenOnePiece"><img src='css/Imagenes/logoOnePiece.png'></div>
		<div id="slogan">
			<p>Tal vez nada en este mundo ocurre por accidente. Mientras todo pasa por una razón, nuestro destino toma
				forma lentamente.</p>
		</div>

	</div>

	<div id="centro">
		<div id="descripcion">
			<p>Monkey D. Luffy , conocido como Luffy "Sombrero de Paja".<br><br> Prometo ser el mejor rey de los piratas
				para de esta manera ser justos con los pobres, darle sus tesoros, darles banquetes de comida todos los
				dias, hidratación y muchas aventuras con el pasar del tiempo. </p><audio style="padding-left: 30px"
				controls loop="loop" src="Admin/audios/one-piece-luffy.mp3">
		</div>
		<div><img src='css/Imagenes/lupin.png'></div>
	</div>



	<div id="inferior">
		<img src='css/Imagenes/barco.png'>

		<img src='css/Imagenes/tesoro.png'>

		<img src='css/Imagenes/bandera.gif'>
	</div>

	<div id="textos">
		<h3>realizaremos nuevos acuerdos mercantiles para cargas y descarga en nuestros puertos conquistados. </h3>
		<h3>Repartiremos los tesoros recaudados en partes iguales para todos los pirtatas.</h3>
		<h3>Recuperaremos tierras que nos fueron arrebatadas por malos gobiernos.</h3>
	</div>






	<div id="home">
		<a href="index.html"><img src='css/Imagenes/home.png' style="width: 100px;"></a>
	</div>



</body>

</html>