<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dragon Ball Super</title>
	<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
	<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
	<link th:href="@{https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{css/StyleDBS.css}">
</head>

<body class="showcase">
	<header>
		<h1 id="titulo">DRAGON BALL SUPER</h1>
	</header>
	<div>
		<p><strong>Dragon Ball Super (ドラゴンボール超スーパー Doragon Bōru Sūpā?) es una serie de manga japonesa
				escrita por Akira Toriyama e ilustrada por Toyotarō. Se trata de una secuela del manga
				original de Dragon Ball de Toriyama, que sigue las aventuras de Goku y sus amigos durante
				el lapso de diez años tras la derrota de Majin Boo. Comenzó a serializarse en la revista V
				Jump de Shūeisha el 20 de junio de 2015.</strong></p>
	</div>
	<section class="container">
		<article class="post">
			<h2>Saga batalla de los dioses</h2>
			<p>Primera entrega de la serie</p>
			<div id="imagen"><img src="css\Imagenes\Batalla_dioses.jpg" width="400" /></div>
			<p>Título original: Saga del Dios de la Destrucción Bills (破壊神ビルス編 Hakai-shin Birusu-hen?).
				Con esta saga se da comienzo a la serie y se narra la búsqueda, por parte del Dios de la
				destrucción Bills (Beerus en idioma japonés) y su sirviente y mentor Whis, del Super Saiyajin
				Dios, que podría hacerle frente en una pelea, y así poder tener algo de diversión. Esto le lleva
				a la Tierra donde se encuentran Goku, Vegeta y el resto de los Guerreros Z viviendo en paz
				absoluta. Su argumento está basado en la película Dragon Ball Z: La batalla de los dioses.</p>
		</article>
		<article class="post">
			<h2>Saga de la Resurrección de Freezer</h2>
			<p>Segunda entrega de la serie</p>
			<div id="imagen"><img src="css\Imagenes\Resureccion_freezer.jpg" width="400" /></div>
			<p>Título original: Saga de Golden Freezer (ゴールデンフリーザ編 Gōruden Furīza-hen?). La siguiente
				parte de la serie continúa con la resurrección de Freezer por parte de sus subordinados que
				viajan a la Tierra en busca de las Esferas del Dragón. Tras un entrenamiento de 4 meses de
				duración y una nueva transformación, viaja a la Tierra para completar su venganza contra Son
				Goku. Su argumento está basado en la película Dragon Ball Z: Fukkatsu no F</p>
		</article>
		<article class="post">
			<h2>Saga del Torneo del Universo 6</h2>
			<p>Tercera entrega de la serie</p>
			<div id="imagen"><img src="css\Imagenes\Torneo_universo6.jpg" width="400" /></div>
			<p>Título original: Saga del Universo 6 (第6宇宙編 Dai 6 Uchū-hen?). Esta saga se desarrolla en el
				marco de un Torneo de Artes Marciales entre los Universos 6 y 7, organizado por los hermanos y
				Dioses de la Destrucción, Champa y Bills, con el único argumento de saber quién posee el universo
				más fuerte entre ambos.<br>

				Estos eligen, a prioridad, a los mejores luchadores de sus respectivos Universos. Por el Universo
				6, Champa elige a como competidores a: Botamo, Frost, Magetta, Kyabe y Hit; por su parte, los
				competidores del Universo 7 elegidos por Bills son: Vegeta, Goku, Piccolo, Majin Buu y Monaka.
				En juego estará el destino de la Tierra y las Superesferas del Dragón, estas últimas mucho más
				grandes que las ya conocidas, de escala planetaria cada una de ellas.<br>

				En dicha saga, también se da a conocer al Dios Supremo de todos los Universos, Zen-oo-sama (全王 Zen'ō?)
				, entre otros personajes menos importantes que este, dentro de la propia serie.<br>

				Después del torneo del 6° y 7° universo, Goku y los Guerreros Z vuelven a la Tierra. Monaka tiene
				como objetivo el llegar al Planeta Pot-au-feu, y sin saberlo lo hará junto con Goten y Trunks donde
				hay un agua importante protegida por un ser desconocido, donde se encuentra con el bandido más
				buscado de la galaxia. Goku y Vegeta, con la ayuda de Jaco, el patrullero galáctico y amigo de Tights,
				la hermana mayor de Bulma, llegan a dicho planeta para enfrentarse a más problemas.</p>
		</article>
		<article class="post">
			<h2>Saga de Black Goku / Trunks del futuro</h2>
			<p>Cuarta entrega de la serie</p>
			<div id="imagen"><img src="css\Imagenes\Black_goku.jpg" width="400" /></div>
			<p>Título original: Saga de Trunks del "Futuro" (“未来”トランクス編 "Mirai" Torankusu-hen?). El 9 de mayo de
				2016 se dio a conocer de forma oficial en el sitio de Toei Animation la siguiente saga de la serie,
				la cual involucra a Trunks del Futuro.<br>

				Al comienzo de esta saga, Trunks aparece con Mai ocultos en el Futuro, que ha quedado casi destruido
				por un nuevo enemigo conocido como Black Goku, cuya apariencia es idéntica a la de Goku. Luego Trunks
				intenta regresar al pasado a pedir ayuda a Goku y sus amigos, para lograr derrotarlo, el cual apenas
				logra escapar con vida, el cual Goku Black intenta matarlo donde al final pierde su rastro por completo.
				En dicha saga se dieron a conocer nuevos personajes, como el propio Black y Zamas, un aprendiz del
				actual Kaio-shin del Universo 10, Gowas.</p>
		</article>
		<article class="post">
			<h2>Saga del Torneo del Poder</h2>
			<p>Quinta entrega de la serie</p>
			<div id="imagen"><img src="css\Imagenes\Torneo_poder.jpg" width="400" /></div>
			<p>Título original: Saga de Supervivencia Universal (宇宙サバイバル編 Uchū Sabaibaru-hen?).
				Esta saga comenzó el 5 de febrero del 2017 como la Saga del Torneo del Poder por Toei
				Animation. A petición de Goku, comienza el torneo del poder, un torneo de artes marciales
				organizado por Zen-o-sama en donde 8 de los 12 universos participarán dado que los 4 universos que
				no lucharán, tienen un índice de mortalidad más alto que los demás universos.(Está definida por
				el mismo Zen-o-sama).<br>

				Cada universo deberá formar un grupo de 10 luchadores representantes que combatirán en modalidad
				"Battle Royale": un Combate multitudinario de todos contra todos, simultáneamente. Ante las
				estrictas e inesperadas normas, Son Goku sólo dispone unas horas para reclutar a los 10 miembros
				del Séptimo Universo.<br>

				Los participantes del Universo 7 son: Son Goku, Krilin, A-18, Son Gohan, Piccolo, A-17, Vegeta,
				Ten Shin Han, Muten Roshi y Freezer, dado que Majin Boo se encuentra en hibernación y no hay forma
				de despertarlo. Se enfrentan a peleadores muy fuertes entre ellos destacan la tropa del orgullo,
				y en especial Jiren quien es el rival final a vencer.</p>
		</article>
	</section>

	<a th:href="@{index}"><img src="css/Imagenes/home.png" width="50" height="50">Volver</a>
	<footer>
		<section>
			<a href="#titulo">Ir al comienzo</a>
			<a href="mailto:daibarra@gmail.com">Escríbeme aquí</a>
		</section>
		<p>DAIA 2022</p>
	</footer>
</body>

</html>