
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml" 
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" content="Sistema de Votaciones en linea, vote.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
    <link th:href="@{css/Imagenes/pokeball.png}" rel="icon" sizes="256x256" type="image/png">
    <link th:href="@{css/pokemon.css}" rel="stylesheet">
</head>


<body>
    <div id="PageHeader1">
        <div id="wb_Image1">
            <img src="css/Imagenes/pokeball.png" id="Image1">
        </div>

        <div id="wb_CssMenu1">
            <ul id="CssMenu1">
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="#wb_Text3">Etimologia</a></li>
                <li><a href="#wb_Text5">Historia</a></li>
                <li><a href="#wb_Text8">Concepto</a></li>
                <li><a href="#PageFooter1">Redes&nbsp;Sociales</a></li>
                <li><a href="https://www.pokemon.com/el/" target="_blank">Ver&nbsp;mas&nbsp;de&nbsp;Pokemon</a></li>
            </ul>
        </div>

        <div id="fieldset">
            <form name="SiteSearch1_form" id="SiteSearch1_form" role="search" accept-charset="UTF-8">
                <input type="text" id="SiteSearch1" name="SiteSearch1" value="" spellcheck="false"
                    bplaceholder="Buscar en este sitio" role="searchbox">
                <input type="button" id="Button1" name="Search" value="Buscar">
            </form>
        </div>

    </div>






    <table align="center" id="Table1">
        <tr>
            <td class="cell0">
                <div id="wb_Image4">
                    <img src="css/Imagenes/pokemon1.gif" id="Image4">
                </div>
            </td>
            <td class="cell0">
                <div id="wb_Image2">
                    <img src="css/Imagenes/pokemon1.png" id="Image2">
                </div>
            </td>
            <td class="cell0">
                <div id="wb_Pokemon">
                    <img src="css/Imagenes/Pokemon.gif" id="Pokemon">
                </div>
            </td>
        </tr>

    </table>

    <center>
        <h1>POKEMON</h1>
    </center>
    <div id="wb_Text2">
        <p style="color:#000000;font-family:Georgia;font-size:24px;">Pokemon es una franquicia de medios que
            originalmente comenzo como un videojuego RPG, pero debido a su
            popularidad ha logrado expandirse a otros medios de entretenimiento como series de television,
            peliculas, juegos de cartas, ropa, entre otros, convirtiendose en una marca que es reconocida en el
            mercado mundial. Las ventas de videojuegos hasta el 1 de diciembre de 2006 habian alcanzado una cantidad
            de 340 millones de ejemplares (incluyendo la venta de la version Pikachu de la consola Nintendo 64),
            logrando ocupar el segundo lugar de las sagas de videojuegos mas vendidos de Nintendo. La franquicia
            celebro su decimo aniversario el 27 de febrero de 2006.<br>La saga de videojuegos es desarrollada
            por la compañia programadora de software japonesa Game Freak, con personajes creados por Satoshi
            Tajiri para la empresa de juguetes Creatures Inc., y a su vez distribuida por Nintendo. La mision en
            estos juegos es capturar y entrenar a los pokemon (criaturas cuya denominacion da nombre al juego),
            que hasta la fecha alcanzan el numero de 890. La posibilidad de intercambiarlos le hizo conseguir una
            popularidad que se plasmo en un exito de ventas y la consiguiente aparicion de una serie
            animada, peliculas y diverso merchandising como peluches, juguetes y cartas.</p>
    </div>
    <div id="wb_Text3">
        <center>
            <h2>ETIMOLOGIA</h2>
        </center>
    </div>
    <div id="wb_Text4">
        <p style="color:#000000;font-family:Georgia;font-size:24px;">La palabra Pokemon es la contraccion
            romanizada de la marca japonesa Pocket Monsters, como tales contracciones son muy comunes en Japon. En
            ingles,
            la palabra se escribe Pokemon con tilde en acento agudo, a pesar de que este signo no existe en el uso
            habitual de este idioma. Esto se debe a que al unir las palabras Pocket Monster se obtuvo Poke-Mon. El
            problema
            es que, segun las normas del ingles, esto se pronunciaria como pouk mon. En muy pocos otros
            casos (como mate que se pronuncia /matei/ y quiere decir mate) se puede poner en ingles un
            acento en la e; para que esta se pronuncie, resultando asi, el nombre
            Pokemon. En español se puede usar la transcripcion rmaji que prescinde del
            acento por razones ortograficas, si bien en el uso comercial habitualmente aparece usando tilde.</p>
    </div>
    <div id="wb_Text5">
        <center>
            <h2>HISTORIA</h2>
        </center>
    </div>
    <div id="wb_Text6">
        <p style="color:#000000;font-family:Georgia;font-size:24px;">Cuando el creador, Satoshi Tajiri, era joven, uno
            de sus pasatiempos favoritos era la recoleccion y coleccion de insectos. Tajiri se dirigio a
            la ciudad de Tokio a estudiar, ya que su padre queria que fuese ingeniero. Sin embargo, a Tajiri no le
            agradaba la idea de estudiar y se dedicaba mas a pasatiempos como los videojuegos. Paso un tiempo y
            Tajiri llego a trabajar como jugador de prueba de algunos juegos para revistas, junto a Ken Sugimori, con
            quien hizo una gran amistad. En 1989 crearon una revista llamada Game Freak. Con el exito de la consola
            NES, los dos decidieron crear algo innovador para la consola, y Tajiri decidio hacer que Game Freak se
            convirtiera en una compañia. Comenzo a trabajar en un juego de rompecabezas llamado Mendel
            Palace (conocido en Japon como Quinty), el cual fue lanzado en 1989, obteniendo buen exito, lo cual
            marco el principio de la historia de la compañia</p>
    </div>
    <div id="wb_Text7">
        <center>
            <h2>CONCEPTO</h2>
        </center>
    </div>
    <div id="wb_Text8">
        <p style="color:#000000;font-family:Georgia;font-size:24px; align-content: center;">Los Pokemón son una clase de
            criaturas
            inspiradas en animales reales, insectos, objetos, plantas o criaturas mitologicas con un sistema de
            evolucion lamarckiano. Los jugadores toman el papel Entrenadores Pokemon y tienen tres objetivos
            generales: completar la Pokedex mediante la recopilacion de todas las especies de Pokemon
            disponibles que se encuentran, entrenar un equipo de Pokemon poderosos de aquellos que han atrapado para
            competir contra otros entrenadores. El objetivo final del juego es llegar a ganar la Liga Pokemon y
            convertirse en el campeon regional. La tematica de coleccionar, entrenar y luchar est&#0225n
            presentes en casi todas las versiones de la franquicia Pokemon, incluidos los videojuegos, las series de
            anime y manga, y el juego de cartas coleccionables Pokemon.</p>
    </div>




    <div id="PageFooter1">

        <a href="index.html"><img src="css/Imagenes/home.png" width="50" height="50"></a>
        <a href="pokemon.html"><img src="css/Imagenes/youtube.png" width="50" height="50"></a>
        <a href="pokemon.html"><img src="css/Imagenes/Twitter.png" width="50" height="50"></a>
        <a href="pokemon.html"><img src="css/Imagenes/instagram.png" width="50" height="50"></a>
        <a href="pokemon.html"><img src="css/Imagenes/telegram.png" width="50" height="50"></a>
        <a href="pokemon.html"><img src="css/Imagenes/facebook.png" width="50" height="50"></a>

    </div>
</body>

</html>