
<html lang="en"
   xmlns="http://www.w3.org/1999/xhtml" 
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Sakura</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{css/sakura.css}">
</head>

<body>

    <center>
        <h1 id="titulo">SAKURA CARDCAPTORS</h1>
            <img src="css/Imagenes/Capitulos_SakuraCard_Captor_sin_relleno.jpeg" width="600" height="400">
    </center>
    
</body>

    <section class="container">
        <article class="post">
    <center>
        <h2>Sobre Sakura</h2>
    </center>
    <div>
        <p> Cardcaptor Sakura (カードキャプターさくら Kādokyaputā Sakura, también conocida como Sakura, cazadora de cartas en
            España y Sakura Card Captors en Hispanoamérica, o simplemente abreviado como CCS o SCC) es una serie de
            manga escrita e ilustrada por el grupo de mangaka CLAMP, y cuya adaptación al anime fue dirigida por
            Morio Asaka. La historia se centra en Sakura Kinomoto, una pequeña niña que descubre sus extraños
            poderes mágicos después de haber liberado accidentalmente un conjunto de cartas que se encontraban
            dentro de un libro. Tras esto Sakura con la ayuda de sus amigos se ve obligada a recolectar y cuidar las
            «cartas Clow» para evitar que ocurra una «catástrofe» en el mundo.</p>
    </div>

    <section class="container">
        <article class="post">
    <center>
        <h2>Personajes Principales</h2>
    <center>
    <div>
        <ul class="https://es.wikipedia.org/wiki/Cardcaptor_Sakura">
            <li><a href="#">Sakura Kinomoto 木之本 さくら Kinomoto Sakura.</a></li>
            <li><a href="#">Syaoran Li 李 小狼 Li Syaoran.</a></li>
            <li><a href="#">Kerberos (ケルベロス Keruberosu?), conocido como Kero.</a></li>
            <li><a href="#">Yue (月?) / Yukito Tsukishiro.</a></li>
            <li><a href="#">Tomoyo Daidōji (大道寺 知世 Daidōji Tomoyo.</a></li>

        </ul>
        <img src="css/Imagenes/sakura_personajes.jpg" alt="" />
    </div>
    
    </article>
    <article class="post">
    <center>
        <h2>Tematica</h2>
    </center>
    <div>
        <p> El tema principal de Cardcaptor Sakura es el amor y las relaciones
            humanas. A lo largo de la serie se demuestran diversos tipos de amor, como «el amor entre hermanos, el amor
            no correspondido y el verdadero amor».30​ En ocasiones, el grupo CLAMP apartaba por un momento la búsqueda
            de las cartas Clow o transparentes, o la conversión de cartas Clow a Sakura, para centrarse en las
            relaciones sentimentales de Sakura y los personajes que la rodeaban. Cada una de las relaciones que se
            presentan en la obra se realizaron con cierta ambigüedad para no delinearlas con exactitud. Un ejemplo es la
            relación amorosa entre la estudiante de primaria Rika Sasaki y su profesor, Yoshiyuki Terada, la cual se
            presenta de tal manera que se puede ver como una historia dulce e inocente con «el simple deseo de cumplir
            sus sueños» o, si se examina más seriamente, como una historia ligeramente inquietante de «amor
            pedófilo».64​ Además, se puede notar la presencia de amor entre personas del mismo sexo, como es el caso de
            Tomoyo Daidōji, quien se encontraba enamorada de su mejor amiga, Sakura.32​ Sin embargo, estas dos no
            terminaron juntas no por ser del mismo género, sino porque Sakura no la amaba de una «manera romántica».65​
            Estos dos tipos de relaciones son las que más se observan en Cardcaptor Sakura, principalmente porque Ageha
            Ohkawa —líder y guionista de CLAMP— quería crear una obra donde «las minorías se sintieran a gusto.</p>
    </div>

    <a href="index.html"><img src="css/Imagenes/home.png" width="50" height="50">Volver</a>
    <footer>
        <section>
            <p>CMD 2022</p>         
        </section>       
    </footer>
</body>

</html>