<!DOCTYPE html>
<html lang="ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body style="background-image: url(Admin/imagenes/fondoElectoral.png); max-width: 100%;" >
    <center>
    <p align="center">
    <a href="https://www.contadorvisitasgratis.com" title="contadores de visitas"><img src="https://counter9.stat.ovh/private/contadorvisitasgratis.php?c=9zyzl1p47pu3th1asjaykdbh4ul6z3fq" border="0" title="contadores de visitas" alt="contadores de visitas"> </a> <h1> Votos en Total </h1>
    <font face="Times new Roman" size="6" color="black"> GRACIAS POR SU VOTO<br>Por mas ANIME para todo el Mundo</font><br>
    <a href="index.html"> <img src="admin/Imagenes/inicioV.png" width="100" height="50"></a>
    </p>
    </center>
</body>
</html>