<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contador de votos Dragon ball Super</title>
</head>
<body style="background: #cea8d6 ;">
    <center>
    <h1>Tu voto cuenta, invita a otros para votar</h1><br>
    <div id="sfcsjyw979ur758crgte3wt4y7d8dlwj3d2"></div>
    <script type="text/javascript" src="https://counter9.stat.ovh/private/counter.js?c=sjyw979ur758crgte3wt4y7d8dlwj3d2&down=async" async></script>
    <noscript><a href="https://www.contadorvisitasgratis.com" title="contador de visitas gratis">
    <img src="https://counter9.stat.ovh/private/contadorvisitasgratis.php?c=sjyw979ur758crgte3wt4y7d8dlwj3d2" border="0" title="contador de visitas gratis" alt="contador de visitas gratis"></a>
    </noscript><br>
    <a href="index.html"> <img src="admin/Imagenes/Regresar.png" width="100" height="50"></a>
    </center>
</body>
</html>